body {
    background:#000;
    color: #c3c3c3;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 32px;
    padding-top: 75px;
}

table {
    caption-side: top;
}

caption {
    font-weight: bold;
    color: #c3c3c3;
}

th {
    cursor: pointer;
    text-align: right;
}

td[data-value] {
    text-align: right;
}


th.alignleft,
td.alignleft,
td[data-value].alignleft {
    text-align: left;
}


nav {
    height: 56px;
}

.coin {
    color: #c1991c;
    filter: drop-shadow(1px 1px 1px #000);
    font-size: 1.4rem;
    line-height: 1rem;
    vertical-align: baseline;
}

.trend_negative {
    color: red;
}

.trend_positive {
    color: green;
}

footer {
    text-align: center;
    margin-top: 15px;
}

footer a,
footer a:active,
footer a:link,
footer a:visited {
    color:#777;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a img {
    height: 16px;
    width: 16px;
}